<h3 style="margin-top: 3%">About The Team</h3>
                <div class="slider">
                        <ul class="slides">
                        <li>
                            <img src="http://hdqwalls.com/wallpapers/minimalist-mountains-black-and-white-ap.jpg" alt="">
                            <div class="caption left-align">
                              <h3 class="grey-text text-darken-3">Paul Park</h3><hr>
                              <h5 class="light grey-text text-lighten-1">
                                <a href="https://github.com/parkpaul94" target="_blank">Github</a><br>
                                <a href="https://www.linkedin.com/in/parkpaul94/" target="_blank">LinkedIn</a>
                              </h5>
                            </div>
                        </li>
                        <li>
                            <img src="/assets/images/wallpaper2.png" alt="">
                            <div class="caption left-align">
                              <h3 class="grey-text text-darken-3">Ivan Ivanov</h3><hr>
                              <h5 class="light grey-text text-lighten-1">
                                    <a href="https://github.com/ivanov92" target="_blank">Github</a><br>
                                    <a href="https://www.linkedin.com/in/ivan-ivanov-3ba0b215b/" target="_blank">LinkedIn</a>
                                  </h5>
                            </div>
                          </li>
                        <li>
                            <img src="/assets/images/wallpaper5.jpg" alt="">
                            <div class="caption left-align">
                              <h3 class="grey-text text-darken-3">Shinkay Baz</h3><hr>
                              <h5 class="light grey-text text-lighten-1">
                                    <a href="https://github.com/shinkaybaz" target="_blank">Github</a><br>
                                    <a href="https://www.linkedin.com/in/shinkay-baz-953201156/" target="_blank">LinkedIn</a>
                                  </h5>
                            </div>
                          </li>
                        <li>
                            <img src="/assets/images/wallpaper4.jpg" alt="">
                            <div class="caption left-align">
                              <h3 class="grey-text text-darken-3">Michael Todd</h3><hr>
                              <h5 class="light grey-text text-lighten-1">
                                    <a href="https://github.com/mbtodd" target="_blank">Github</a><br>
                                    <a href="https://www.linkedin.com/in/michael-todd-01a16677" target="blank">LinkedIn</a>
                                  </h5>
                            </div>
                          </li>
                        </ul>
                      </div>